/* ===================================================================
  GLOBAL Rules
===================================================================== */
/* FONTS
===================================================================== */
/* OPEN SANS */
@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans Regular"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
/* GILROY */
@font-face {
  font-family: "Gilroy";
  src:
    local("Gilroy Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Gilroy";
  src:
    local("Gilroy Extra Bold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

/* VARIABLES
===================================================================== */
:root {
  --maxWidth: 1200px;

  /* Colors */
  --black: #000;
  --dark: #363636;
  --grey: #464646;
  --grey-half: #7e7e7e;
  --grey-light: #e5e5e5;
  --white: #fff;
  --theme-yellowDark: #f0c52e;
  --theme-yellowLight: #f7e296;
  --theme-green: #91c92f;
  --stateClr: #f6dada;

  /* Fonts */
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  --font-theme: "Gilroy", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  --fontSize-sm: 14px;
  --fontSize: 15px;
  --fontSize-lg: 18px;
  --fontWeight-light: 300;
  --fontWeight-reg: 400;
  --fontWeight-extraBold: 800;
  --letterSpace: 0.2em;

  /* Other */
  --opacity-more: 0.3;
  --opacity-mid: 0.6;
}

/* COMMON
===================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body { scroll-behavior: smooth; }
body {
  color: var(--black);
  background-color: var(--white);
  font-family: var(--font-default);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight-light);
  line-height: 1.33;
}
.layoutCenter {
  max-width: var(--maxWidth);
  margin-left: auto;
  margin-right: auto;
}
img {
  max-width: 100%;
  height: auto;
}

/* LISTS
------------------------------------ */
.user,
.nav-list,
.nav-subList,
.promo-controls,
.categories,
.services-tabs,
.brands,
.footerNav,
.socials,
.footerUser {
  padding: 0;
  list-style: none;
}

/* TEXT
------------------------------------ */
.title {
  font-family: var(--font-theme);
  font-size: 47px;
  font-weight: var(--fontWeight-extraBold);
  letter-spacing: var(--letterSpace);
}
/* Line above title */
.title--custom::before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  margin-bottom: 50px;
  background-color: var(--black);
}

/* LINKS
------------------------------------ */
a {
  text-decoration: none;
  color: var(--black);
}
a:visited {}
a:hover { opacity: var(--opacity-mid); }
a:active { opacity: var(--opacity-more); }

/* BUTTONS
------------------------------------ */
.btn {
  position: relative;
  z-index: 1;
  font-family: var(--font-theme);
  font-size: var(--fontSize-lg);
  font-weight: var(--fontWeight-extraBold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpace);
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.btn::after {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: var(--theme-yellowDark);
  transition: 0.1s linear;
}
.btn:hover::after,
.btn:focus::after {
  top: 0;
  height: 100%;
}
.btn:hover { opacity: 1; }
.btn:active {
  top: 0;
  height: 100%;
  opacity: 1;
  color: rgba(255, 255, 255, var(--opacity-more));
}

/* CLOSE Button */
.btnClose {
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  background-color: var(--theme-yellowDark);
  cursor: pointer;
  outline: none;
  opacity: var(--opacity-mid);
}
.btnClose:hover, .btnClose:focus { opacity: 1; }
.btnClose:active { opacity: var(--opacity-more); }

/* FORMS
------------------------------------ */
.msgForm-label {
  font-family: var(--font-theme);
  font-weight: var(--fontWeight-extraBold);
  color: var(--black));
  font-size: var(--fontSize-lg);
}
.msgForm-field {
  border: none;
  font-family: var(--font-theme);
  font-weight: var(--fontWeight-light);
  font-size: var(--fontSize-sm);
  color: rgba(0, 0, 0, var(--opacity-more));
  background-color: #f2f2f2;
  outline: none;
}
.msgForm-field:hover { background-color: #eaeaea; }
.msgForm-field:focus {
  background-color: var(--white);
  color: var(--black);
  box-shadow: 0 0 0 2px var(--theme-yellowLight);
}
.msgForm-field.invalid {
  color: rgba(0, 0, 0, var(--opacity-more));
  background-color: var(--stateClr);
}

.msgForm-textarea { resize: vertical; }


/* HEADER
===================================================================== */
.header {
  background-image: linear-gradient(var(--white) 20px, var(--theme-yellowLight) 20px);
  color: var(--black);
}

/* SEARCH */
.search-input {
  background-color: transparent;
  border: none;
  opacity: var(--opacity-more);
  outline: none;
  line-height: inherit;
}
.search-input:hover { opacity: var(--opacity-mid); }
.search-input:focus {
  opacity: 1;
  box-shadow: 0 2px var(--black);
}
.search label {
  position: relative;
}
.search-btn {
  background-color: transparent;
  border: 2px solid var(--black);
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  line-height: inherit;
}
.search-btn:hover,
.search-btn:focus {
  background-color: var(--black);
  color: var(--white);
}
.search-btn:active {
  background-color: var(--black);
  color: rgba(255, 255, 255, var(--opacity-more));
}

/* Page NAV */
.nav-link {
  font-family: var(--font-theme);
  font-size: var(--fontSize-lg);
  font-weight: var(--fontWeight-extraBold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpace);
}
.nav-subList { background-color: var(--theme-yellowLight); }


/* FOOTER
===================================================================== */
.footer--bg { background-color: var(--dark); }
.footer { color: var(--white); }
.footer-logo { color: var(--theme-yellowDark); }
.footer-addressLink,
.footer-telLink {
  font-style: normal;
  color: inherit;
}

/* Footer NAV
------------------------------------ */
.footerNav-link {
  font-family: var(--font-theme);
  font-size: var(--fontSize-lg);
  font-weight: var(--fontWeight-extraBold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpace);
  color: var(--white);
}

/* SOCIALS
------------------------------------ */
.socials-link {
  color: var(--white);
  opacity: var(--opacity-more);
}
.socials-link:hover { opacity: var(--opacity-mid); }
.socials-link:active { opacity: 0.1; }

/* USER Menu
------------------------------------ */
.footerUser-link {
  color: var(--white);
  opacity: var(--opacity-mid);
}
.footerUser-link:hover { opacity: 1; }
.footerUser-link:active { opacity: var(--opacity-more); }
.footerUser-icon { color: #ffc600; }


/* ==================================================================
  INDEX Page
===================================================================== */
/* PROMO
------------------------------------ */
.promo-slide {
  background-image: linear-gradient(var(--theme-yellowLight) 750px, transparent 750px);
}
.promo-num {
  font-family: var(--font-theme);
  font-weight: var(--fontWeight-extraBold);
  font-size: 179px;
  color: var(--white);
}
.promo-title { letter-spacing: normal; }
.promo-title::before {
  margin-bottom: 52px;
  background-color: var(--white);
}
.promo-dt,
.promo-dd {
  font-family: var(--font-theme);
  font-size: var(--fontSize-sm);
  font-weight: var(--fontWeight-light);
  letter-spacing: 2px;
}
.promo-dd {
  margin-left: 0;
  font-size: 36px;
}

/* CATEGORIES
------------------------------------ */
.categories-icon {
  background-color: var(--theme-yellowLight);
}
.categories-link {
  font-family: var(--font-theme);
  font-size: var(--fontSize-lg);
  font-weight: var(--fontWeight-extraBold);
  letter-spacing: 1px;
}
.categories-link:hover,
.categories-link:active {
  opacity: 1;
}
.categories-link:hover .categories-icon,
.categories-link:active .categories-icon {
  background-color: var(--theme-yellowDark);
}
.categories-link:active .categories-txt { opacity: var(--opacity-more); }
.categories-link:active .categories-icon { fill-opacity: var(--opacity-more); }

/* SERVICES
------------------------------------ */
.services--bg {
  background-image: linear-gradient(var(--white) 120px, var(--grey-light) 120px);
}
.services-tab:active { color: var(--theme-yellowLight); }
.services-tab:active::after { background-color: var(--black); }
.services-txt {
  line-height: 30px;
  letter-spacing: 3px;
}

/* BRANDS
------------------------------------ */
.brands-link { opacity: 0.2; }
.brands-link:active, .brands-link:hover { opacity: 1; }

/* INFO
------------------------------------ */
.about-txt, .contacts-txt { line-height: 28px; }

/* ABOUT */
.about-list {
  list-style-type: circle;
  font-family: var(--font-theme);
  font-size: 16px;
  font-weight: var(--fontWeight-extraBold);
}


/* ==================================================================
  CATALOG Page
===================================================================== */
