/* ===================================================================
  GLOBAL Rules
===================================================================== */
/* FONTS
===================================================================== */
/* OPEN SANS */
@font-face {
  src: local("Open Sans Light"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: local("Open Sans Regular"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
}
/* GILROY */
@font-face {
  src: local("Gilroy Light"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: local("Gilroy Extra Bold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
}


/* VARIABLES
===================================================================== */
:root {
  --maxWidth: 1200px;

  /* Colors */
  --black: #000;
  --dark: #363636;
  --grey: #464646;
  --grey-half: #7e7e7e;
  --grey-light: #e5e5e5;
  --white: #fff;
  --theme-yellowDark: #f0c52e;
  --theme-yellowLight: #f7e296;
  --theme-green: #91c92f;
  --stateClr: #f6dada;

  /* Fonts */
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  --font-theme: "Gilroy", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  --fontSize-sm: 14px;
  --fontSize: 15px;
  --fontSize-lg: 18px;
  --fontWeight-light: 300;
  --fontWeight-reg: 400;
  --fontWeight-extraBold: 800;
  --letterSpace: 0.2em;

  /* Other */
  --opacity-more: 0.3;
  --opacity-mid: 0.6;
  --gap: 40px;
}

/* COMMON
===================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  color: var(--black);
  background-color: var(--white);
  font-family: var(--font-default);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight-light);
  line-height: 1.33;
}

/* IMAGES
------------------------------------ */
img {
  max-width: 100%;
  height: auto;
}
.img--bg,
.brands-img,
.contacts-img,
.map-img,
.goods-img {
  display: inline-block;
  color: white;
  background-color: var(--grey-half);
  font-weight: bolder;
}

/* LISTS
------------------------------------ */
.user,
.nav-list,
.nav-subList,
.promo-controls,
.categories,
.services-tabs,
.brands,
.footerNav,
.socials,
.footerUser,
.breadcrumbs,
.pagination-list {
  padding: 0;
  list-style: none;
}

/* TEXT
------------------------------------ */
.title {
  letter-spacing: var(--letterSpace);
  font-family: var(--font-theme);
  font-size: 47px;
  font-weight: var(--fontWeight-extraBold);
  line-height: 58px;
}
/* Line above title */
.title--custom::before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  margin-bottom: 50px;
  background-color: var(--black);
}

/* LINKS
------------------------------------ */
a {
  text-decoration: none;
  color: var(--black);
}
a:hover {
  opacity: var(--opacity-mid);
}
a:active {
  opacity: var(--opacity-more);
}

/* BUTTONS
------------------------------------ */
.btn {
  z-index: 1;
  position: relative;
  cursor: pointer;
  letter-spacing: var(--letterSpace);
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: var(--font-theme);
  font-size: var(--fontSize-lg);
  font-weight: var(--fontWeight-extraBold);
}
.btn:hover,
.btn:focus {
  opacity: 1;
}
.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: calc(50% - 4px);
  left: 0;
  width: 100%;
  height: 8px;
  transition: 0.1s linear;
  background-color: var(--theme-yellowDark);
}
.btn:hover::after,
.btn:focus::after,
.btn:active::after {
  top: 0;
  height: 100%;
}
.btn:active {
  opacity: var(--opacity-more);
}

/* CLOSE Button */
.btnClose {
  width: 55px;
  height: 55px;
  cursor: pointer;
  opacity: var(--opacity-mid);
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: var(--theme-yellowDark);
}
.btnClose:hover, .btnClose:focus {
  opacity: 1;
}
.btnClose:active {
  opacity: var(--opacity-more);
}

/* LAYOUT
------------------------------------ */
* {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}
.layoutCenter {
  width: var(--maxWidth);
  margin: 0 auto;
  padding: 0 20px;
}
.index,
.catalog {
  display: grid;

  grid-template-rows: min-content 1fr min-content;
}


/* HEADER
===================================================================== */
.header {
  padding: 20px 60px;
  color: var(--black);
  background-image: linear-gradient(var(--white) 40px, var(--theme-yellowLight) 40px); /* padding-top + 20px */
}
.header-user,
.nav-list,
.nav-subList {
  display: flex;
  flex-wrap: wrap;
}

.user-itemSearch {
  margin-right: auto;
}

/* SEARCH */
.search {
  position: relative;
}

.search-input {
  opacity: var(--opacity-more);
  border: none;
  outline: none;
  background-color: transparent;
  line-height: inherit;
}
.search-input:hover {
  opacity: var(--opacity-mid);
}

.search label::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.3s linear;
  background-color: #000;
}
.search-input:focus {
  opacity: 1;
}

.search-input:focus + label::after {
  width: 100%;
}
.search-btn {
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid var(--black);
  outline: none;
  background-color: transparent;
  line-height: inherit;
}
.search-btn:hover,
.search-btn:focus {
  color: var(--white);
  background-color: var(--black);
}
.search-btn:active {
  color: rgba(255, 255, 255, var(--opacity-more));
  background-color: var(--black);
}

/* Page NAV */
.nav-link {
  letter-spacing: var(--letterSpace);
  text-transform: uppercase;
  font-family: var(--font-theme);
  font-size: var(--fontSize-lg);
  font-weight: var(--fontWeight-extraBold);
}
.nav-catalog {
  width: 50%;
  margin-right: auto;
}


/* FOOTER
===================================================================== */
.footer--bg {
  background-color: var(--dark);
}

.footer {
  display: grid;
  padding-top: 45px;
  padding-bottom: 65px;
  color: var(--white);

  grid-template-columns: auto 1fr 1fr;
}
.footer-addressLink,
.footer-telLink {
  color: inherit;
  font-style: normal;
}

/* Footer LEFT
------------------------------------ */
.footer-left {
  margin-right: 150px;
}
.footer-logo,
.footer-logoLink {
  color: var(--theme-yellowDark);
}

/* Footer CENTER
------------------------------------ */
.footer-center {
  margin-right: 46px;
}

/* NAV */
.footerNav-link {
  letter-spacing: var(--letterSpace);
  text-transform: uppercase;
  color: var(--white);
  font-family: var(--font-theme);
  font-size: var(--fontSize-lg);
  font-weight: var(--fontWeight-extraBold);
}

/* SOCIALS */
.socials-link {
  opacity: var(--opacity-more);
  color: var(--white);
}
.socials-link:hover {
  opacity: var(--opacity-mid);
}
.socials-link:active {
  opacity: 0.1;
}

/* Footer RIGHT
------------------------------------ */
/* USER Menu */
.footerUser-link {
  opacity: var(--opacity-mid);
  color: var(--white);
}
.footerUser-link:hover {
  opacity: 1;
}
.footerUser-link:active {
  opacity: var(--opacity-more);
}
.footerUser-icon {
  color: #ffc600;
}


/* MODALS
===================================================================== */
/* FORM
------------------------------------ */
.msgForm {
  display: grid;
  padding: 90px 100px 65px;

  grid-template-columns: 1fr 1fr;
  gap: 32px 40px;
}
.msgForm-textarea {
  resize: vertical;

  grid-column: 1 / -1;
}
.msgForm-label {
  color: var(--black);
  font-family: var(--font-theme);
  font-size: var(--fontSize-lg);
  font-weight: var(--fontWeight-extraBold);
}
.msgForm-field {
  color: rgba(0, 0, 0, var(--opacity-more));
  border: none;
  outline: none;
  background-color: #f2f2f2;
  font-family: var(--font-theme);
  font-size: var(--fontSize-sm);
  font-weight: var(--fontWeight-light);
}
.msgForm-field:hover {
  background-color: #eaeaea;
}
.msgForm-field:focus {
  color: var(--black);
  background-color: var(--white);
  box-shadow: 0 0 0 2px var(--theme-yellowLight);
}
.msgForm-field.invalid {
  color: rgba(0, 0, 0, var(--opacity-more));
  background-color: var(--stateClr);
}


/* ==================================================================
  INDEX Page
===================================================================== */
/* PROMO
------------------------------------ */
.promo {
  margin-bottom: 75px;
}
.promo-slide {
  display: grid;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(var(--theme-yellowLight) 350px, var(--white) 350px);

  gap: var(--gap);
  grid-template-columns: 1fr 1fr;
}

.promo-img {
  justify-self: center;
}
.promo-desc {
  padding-right: 47px;
}
.promo-num {
  color: var(--white);
  font-family: var(--font-theme);
  font-size: 179px;
  font-weight: var(--fontWeight-extraBold);
}
.promo-title {
  letter-spacing: normal;
}
.promo-title::before {
  margin-bottom: 52px;
  background-color: var(--white);
}
.promo-dt,
.promo-dd {
  letter-spacing: 2px;
  font-family: var(--font-theme);
  font-size: var(--fontSize-sm);
  font-weight: var(--fontWeight-light);
}
.promo-dd {
  margin-left: 0;
  font-size: 36px;
}


/* CATEGORIES
------------------------------------ */
.categories {
  display: grid;
  margin-bottom: 55px;
  padding-top: 20px;
  padding-bottom: 20px;

  grid-template-columns: repeat(6, 1fr);
  gap: var(--gap);
}
.categories-icon {
  background-color: var(--theme-yellowLight);
}
.categories-link {
  letter-spacing: 1px;
  font-family: var(--font-theme);
  font-size: var(--fontSize-lg);
  font-weight: var(--fontWeight-extraBold);
}
.categories-link:hover,
.categories-link:active {
  opacity: 1;
}
.categories-link:hover .categories-icon,
.categories-link:active .categories-icon {
  background-color: var(--theme-yellowDark);
}
.categories-link:active .categories-txt {
  opacity: var(--opacity-more);
}
.categories-link:active .categories-icon {
  fill-opacity: var(--opacity-more);
}

/* SERVICES
------------------------------------ */
.services--bg {
  background-image: linear-gradient(var(--white) 80px, var(--grey-light) 80px);
}
.services {
  display: grid;
  margin-bottom: 90px;
  padding-top: 15px;
  padding-bottom: 68px;

  grid-template-columns: 1fr 3fr;
  gap: 116px;
}
.services-tab:active {
  color: var(--theme-yellowLight);
}
.services-tab:active::after {
  background-color: var(--black);
}
.services-txt {
  letter-spacing: 3px;
  line-height: 30px;
}


/* BRANDS
------------------------------------ */
.brands {
  display: grid;
  margin-bottom: 90px;

  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap);
}
.brands-link {
  opacity: 0.2;
}
.brands-link:active, .brands-link:hover {
  opacity: 1;
}
.brands-img {
  width: 260px;
  height: 100px;
}

/* INFO
------------------------------------ */
.info {
  display: grid;
  margin-bottom: 86px;

  grid-template-columns: 1fr 1fr;
  gap: 127px;
}
.about-txt, .contacts-txt {
  line-height: 28px;
}

/* ABOUT */
.about-list {
  list-style-type: circle;
  font-family: var(--font-theme);
  font-size: 16px;
  font-weight: var(--fontWeight-extraBold);
}


/* ==================================================================
  CATALOG Page
===================================================================== */
.catalog-main {
  display: grid;

  grid-template-columns: 330px 1fr;
  grid-template-rows: auto auto 1fr;
}
.catalog-lead {
  margin-bottom: 50px;

  grid-column: 1 / -1;
}
.catalog-title {
  letter-spacing: normal;
}
.filter-title,
.sorting-title {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: var(--font-theme);
  font-size: 16px;
  font-weight: var(--fontWeight-extraBold);
  line-height: 20px;
}

/* BREADCRUMBS
------------------------------------ */
.breadcrumbs-link {
  opacity: var(--opacity-more);
  font-size: var(--fontSize-sm);
}
.breadcrumbs-link:hover {
  opacity: var(--opacity-mid);
}
.breadcrumbs-link:active {
  opacity: 0.1;
}

/* FILTER
------------------------------------ */
.filter {
  padding-right: 68px;
  padding-left: 60px;
  background-color: var(--grey-light);

  grid-row: 2 / -1;
  grid-column: 1 / 2;
}
.filter-title {
  padding: 25px 0;
  background-color: #dcdcdc;
}
.filter-groupTitle {
  letter-spacing: 0.1em;
  font-family: var(--font-theme);
  font-size: var(--fontSize-sm);
  font-weight: var(--fontWeight-extraBold);
  line-height: 17px;
}

/* RANGE Slider */
.costRange-result {
  font-family: var(--font-theme);
  font-size: var(--fontSize-sm);
  font-weight: 300;
  line-height: 16px;
}

/* CHECKBOXES And RADIO */
.filter-inputGroup {
  font-size: var(--fontSize-sm);
}
.filter-label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid var(--black);
}
.filter-input:hover,
.filter-input + label:hover {
  cursor: pointer;
}
.filter-input--radio + label::before {
  border-radius: 50%;
}
.filter-input:hover + label::before,
.filter-input:focus + label::before,
.filter-input:hover:checked + label::before {
  opacity: var(--opacity-mid);
}
.filter-input:active + label::before,
.filter-input:active:checked + label::before {
  opacity: 1;
}
.filter-input[disabled],
.filter-input[disabled] + label,
.filter-input[disabled] + label::before,
.filter-input[disabled]:hover + label::before,
.filter-input[disabled]:hover:checked + label::before {
  cursor: default;
  opacity: 0.25;
}

/* SORTING
------------------------------------ */
.sorting {
  display: flex;
  padding: 25px 0 25px 72px;
  background-color: var(--grey-light);

  grid-row: 2 / 3;
  grid-column: 2 / -1;
}
/* By TYPE */
.sortType-input + label {
  cursor: pointer;
  opacity: var(--opacity-more);
  font-size: var(--fontSize-sm);
  font-weight: var(--fontWeight-reg);
}
.sortType-input:hover + label {
  opacity: var(--opacity-mid);
}
.sortType-input:checked + label {
  opacity: 1;
}

/* By ORDER */
.order-input + label {
  cursor: pointer;
  opacity: 0.2;
}
.order-input:hover + label,
.order-input:focus + label,
.order-input:hover:checked + label {
  opacity: 0.4;
}
.order-input:active + label,
.order-input:checked + label,
.order-input:active:checked + label {
  opacity: 1;
}

/* OFFERS
------------------------------------ */
.offers {
  padding: 68px 0 78px 72px;

  grid-row: 3 / 4;
  grid-column: 2 / -1;
}

/* GOODS */
.goods {
  display: grid;
  margin-bottom: 40px;

  grid-template-columns: 1fr 1fr;
  gap: 48px var(--gap);
}
.goods-item {
  width: 360px;
  min-height: 454px;
}
.goods-link {
  letter-spacing: 0.05em;
  font-family: var(--font-theme);
  font-size: var(--fontSize-lg);
  font-weight: var(--fontWeight-extraBold);
  line-height: 22px;
}
.goods-price {
  letter-spacing: 0.05em;
  font-family: var(--font-theme);
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
}
.goods-btnCompare {
  cursor: pointer;
  letter-spacing: 0.1em;
  opacity: var(--opacity-mid);
  color: var(--black);
  border: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
}
.goods-btnCompare:hover,
.goods-btnCompare:focus {
  opacity: 1;
}
.goods-btnCompare:active {
  opacity: var(--opacity-more);
}
.goods-state {
  text-transform: uppercase;
  opacity: var(--opacity-more);
  font-family: var(--font-theme);
  font-size: 12px;
  font-weight: 800;
  line-height: 15px;
}

/* PAGINATION */
.pagination {
  display: grid;
  background-color: #ebebeb;

  grid-template-columns: min-content 1fr min-content;
}
.pagination-prev,
.pagination-next,
.pagination-page {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: var(--font-theme);
  font-size: 16px;
  font-weight: var(--fontWeight-extraBold);
  line-height: 20px;
}
.pagination-prev:hover,
.pagination-next:hover {
  opacity: 1;
  background-color: #d9d9d9;
}
.pagination-prev:active,
.pagination-next:active {
  color: rgba(0, 0, 0, var(--opacity-more));
  background-color: #d9d9d9;
}
.pagination-page {
  opacity: var(--opacity-more);
}
.pagination-page:hover {
  opacity: var(--opacity-mid);
}
.pagination-page:active,
.pagination-page.active {
  opacity: 1;
}
